/* Default */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #101010;
    background-image: url(backgroundimg.jpg);
    background-position: center;
    color: white;
    position: relative;
}
/* Header and nav*/
.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0px;
    background-color: #101010;
    position: fixed;
    width: 100%;
    height: 100px; 
    top: 0;
    left: 0;
    z-index: 1000;
}


.logo {
    position: absolute; /* Position the logo absolutely */
    left: 20px; /* Adjust this value as needed */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1100; /* Ensure the logo is above other elements */
}

.logo img {
    height: 100px; /* Adjust this value to your desired height */
    width: auto;
}

.nav {
    flex-grow: 1; /* Allow the nav to take available space */
    display: flex;
    justify-content: center; /* Center the nav content */
    z-index: 1000;
    background: linear-gradient(to right, rgba(1, 211, 112), rgba(0, 255, 134));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txtt {
    background: linear-gradient(to right, rgba(1, 211, 112), rgba(0, 255, 134));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav a {
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to right, rgba(1, 211, 112), rgba(0, 255, 134));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    margin-right: 5px;
}

.gradient {
    background: linear-gradient(to right, rgba(1, 211, 112), rgba(0, 255, 134));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}



/* Main Content - first page*/
.main-content {
    text-align: center;
    padding: 20px;
    position: relative;
    
}

.main-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 23px;
    margin: 10px 0;
}

.main-content .under-main {
    font-size: 1rem;
    margin: 10px 0;
    
}
.main-content .code {
    font-size: 34px;
    background: transparent;
    border: 2px solid white;
    font-weight: 1000;
    display: block;
    width: fit-content;
    padding: 0px 50px;
    margin: 50px auto 0 auto;
    border-radius: 25px;
    z-index: 2;
}

.main-content .cta-button {
    font-size: 24px;
    background: #e67e22;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.main-content .how-to-participate {
    font-size: 18px;
    margin-top: 20px;   
    color: #00ff86;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    z-index: 2;
}

.how-to {
    color: rgb(255, 255, 255);
}

.main-content .how-to-participate i {
    margin-right: 8px;
    z-index: 2;
}







/* Text animation , all about text in main*/
@keyframes pump {
    0%, 100% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.02);
    }
}

.giving-away {
    display: inline-block;
    animation: pump 3s infinite;
}

.giving-away .bolded {
    font-weight: 1000;
    color: rgb(255, 255, 255) ;
    text-shadow: 0 0 0px rgb(255, 255, 255);
}

.pocetak {
    background: linear-gradient(to right, rgba(1, 211, 112), rgba(0, 255, 134));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.ldb {
    font-weight: 1000;
}

.bolded {
    font-weight: 1000;
    color: rgb(255, 255, 255) ;
    text-shadow: 0 0 0px rgb(255, 255, 255);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    vertical-align: middle;
}

.color-font-weight {
    background: linear-gradient(to right, rgba(1, 211, 112), rgba(0, 255, 134));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    vertical-align: middle;
}

.color {
    background: linear-gradient(to right, rgba(1, 211, 112), rgba(0, 255, 134));
    background-clip: text;
    -webkit-text-fill-color: transparent;    
    
}

.ceo-text {
    background: linear-gradient(to right, rgba(1, 211, 112), rgba(0, 255, 134));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;
    font-weight: 1000;
}
/* CARDS - TOP 3 LEADERBOARD */

.second-card {
    position: relative;
    animation: pumpAndGlow 3s infinite;
    border-radius: 15px; 
}



.second-card {
    position: relative;
    animation: pumpAndGlow 3s infinite;
    border-radius: 15px; 
}



.card-header {
    position: relative;
    display: inline-block;
}

.card-header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
    
}

.card-header .avatar-container {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}







.avatar-container {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.avatar-container::before,
.avatar-container::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 50%;
    z-index: 0;
}

.avatar-container::after {
    z-index: -1;
    filter: blur(2rem);
    opacity: 0.6;
}



.avatar-1st::before,
.avatar-1st::after {
    background: radial-gradient(circle, rgba(247, 223, 1, 0.1) 20%, transparent 70%);
    
}


.avatar-2nd::before,
.avatar-2nd::after {
    background: radial-gradient(circle, rgba(245, 243, 243, 0.1) 20%, transparent 70%);
}


.avatar-3rd::before,
.avatar-3rd::after {
    background: radial-gradient(circle, rgb(194, 133, 3, 0.1) 20%, transparent 70%);
    
}











.card-header .badge {
    position: absolute;
    top: -20px; 
    left: 50%;
    transform: translateX(-50%);
    background: #101010;
    color: rgb(247, 191, 39);
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 2;
}

.card-header .badge .badge-second{
    color: silver;
}

.card-header .badge .badge-third{
    color: #ad6303;
}

.card-header .badge i {
    font-size: 20px;
}

.card-body {
    margin-top: 20px;
}



.card {
    background: #181818; 
    border-radius: 0px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 2;
    overflow: hidden;
    position: relative; 
}


.leader-name {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
    color: #ffffff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.leader-wagered {
    font-size: 14px;
    color: #bbb;
}

.leader-amount {
    font-size: 18px;
    font-weight: bold;
    color: #ffffffce;
    vertical-align: middle;
}

.leader-points {
    font-size: 20px;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 10px;
    text-shadow: 0 0 12px rgb(255, 255, 255);
}



.first-card {
    transform: perspective(880px) rotateY(22deg) scale(1.0) rotateX(9deg);
    transition: transform 0.5;
    box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    margin-top: 100px;
}

.second-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, transparent, #ffd001);
    border-image-slice: 1;
    pointer-events: none;
    box-sizing: border-box;
    clip-path: inset(1 round 50px);
}


.first-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, transparent, #afaeae);
    border-image-slice: 1;
    pointer-events: none;
    box-sizing: border-box;
    clip-path: inset(1 round 50px);
}

.fourth-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, transparent, #ffd001);
    border-image-slice: 1;
    pointer-events: none;
    box-sizing: border-box;
    clip-path: inset(1 round 50px);
}

.third-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, transparent, #ad6303);
    border-image-slice: 1;
    pointer-events: none;
    box-sizing: border-box;
    clip-path: inset(1 round 50px);
}
.first-card:hover {
    transform: perspective(1000px) translateY(0px) rotateY(0deg);
    transition: 0.3s ease;
}

.second-card {
    transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(18deg);
    transition: transform 0.5s ease-in-out;
    box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    
}
.second-card:hover {
    transform: perspective(1000px) translateY(0px) rotateX(0deg);
    transition: 0.3s ease;
}

.third-card {
    transform: perspective(880px) rotateY(-22deg) scale(1.0) rotateX(9deg);
    transition: transform 0.5s;
    box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0,0,0,0.75);
    margin-top: 100px;
}
.third-card:hover {
    transform: perspective(1000px) translateY(0px) rotateY(0deg);
    transition: 0.3s ease;
}


.second-card {
    position: relative;
}



/* Leaderboard Styles */
.leaderboard {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; 
    flex-wrap: wrap;
    margin-top: 50px;
}

.countdown {
    order: 1; 
    text-align: center;
    width: 100%;
    margin-top: -60px; 
}
.fourth-card {
    display: none;
}
.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    margin-bottom: 10px;
}

.time-box {
    background: #09090982;
    border-radius: 5px;
    padding: 0px 15px;
    text-align: center;
    

}

.time-value {
    font-size: 30px;
    color: rgba(0, 255, 134);
    font-weight: bold;
    font-family: "Montserrat"
}

.time-label {
    font-size: 12px;
    color: #bbb;
    margin-top: 5px;
}

.last-updated {
    font-size: 16px;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.show-winners {
    background: transparent;
    color: white;
    border: 2px solid rgba(0, 255, 134);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
    font-family: "Poppins";
    transition: 0.3s ease;
}

.show-winners:hover {
    border: 2px solid rgba(0, 255, 134);
    color: white;
    transform: scale(1.1);
    transition: 0.3s ease;
}

/* Table Styles */
.leaderboard-entry {
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    padding: 10px;
}

.leaderboard-header, .leaderboard-row {
    display: flex;
    padding: 15px 20px;
    text-align: center;
    border-radius: 10px;
}

.leaderboard-header {
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.header-cell, .cell {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.header-cell {
    cursor: default;
    transition: 0.3s ease;
}

.header-text {
    transition: 0.3s ease;
}

.header-text:hover {
    transform: scale(1.3);
    transition: 0.3s ease;
}


.rank {
    margin-right: 10px;
    font-weight: bold;
    width: 40px; 
    display: inline-block; 
}

.name {
    display: inline-block; 
    width: 100px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    text-align: left;
}

.leaderboard-row {
    background: #181818;
    transition: transform 0.3s ease;
    margin-bottom: 50px; 
}

.leaderboard-row:last-child {
    border-bottom: none;
}

.leaderboard-row:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.avatar-img {
    max-width: 45px;
    border-radius: 17px;
    margin-right: 10px;
}

.diamond-icon {
    max-width: 35px;
    transform: rotate(15deg);
    vertical-align: middle;
}

/* New styles to ensure alignment */
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px; 
    width: 250px;
}

.rank, .avatar-img, .diamond-icon {
    display: inline-block;
    vertical-align: middle;
}

.cell .name {
    width: 150px; 
}
.ldb-border {
    background-color: black;
    padding: 6px 16px;
}

.wagered {
    width: 150px;
    background: #101010;
    padding: 20px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: 800;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prize {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 9px rgb(255, 255, 255);
    width: 200px; 
    background: #101010;
    border-radius: 5px;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bubbles Styles */
.bubbles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0; 
}

.bubble {
    position: absolute;
    bottom: -50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: moveUp 15s linear infinite, fadeInOut 5s linear infinite;
}

@keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-150vh); }
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

/* Popup Styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.popup-content {
    background: #131313;
    border-radius: 10px;
    max-width: 600px;
    height: 400px;
    position: relative;
    border: 1px solid #444;
    width: 100%;
    margin: 10px 0;
}

.popup-content h2 {
    font-size: 18px;
    margin-left: 20px;
    padding: 10px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.popup-content p {
    font-size: 22px;
    color: #fff;
    margin: 10px 0;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
}

.popup-content ul {
    padding-left: 20px;
    list-style-type: disc;
    margin-left: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.popup-content ul li {
    margin: 10px 0;
}

.popup-content a {
    color: #4f9eed;
    text-decoration: none;
}

.popup-content a:hover {
    text-decoration: underline;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.popup-note {
    color: #ccc;
    display: block;
    font-size: 14px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
    
}



/* Responsive Styles */
@media (max-width: 1200px) {
    .header, .main-content, .leaderboard, .leaderboard-entry {
        padding: 10px;
    }

    .main-content h1 {
        font-size: 40px;
    }

    .main-content p {
        font-size: 18px;
    }

    .leaderboard {
        margin-top: 150px;
    }
    

    
@keyframes pump {
    0%, 100% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.04);
    }
}


}

@media (max-width: 992px) {
    .header, .main-content, .leaderboard, .leaderboard-entry {
        padding: 10px;
    }

    .main-content h1 {
        font-size: 36px;
    }

    .main-content p {
        font-size: 16px;
    }
    .second-card {
        margin-top: 50px;
    }

    .leaderboard {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-top: 20px;
    }
    .fourth-card {
        display: inline-block;
        
    }

    .leaderboard-entry {
        width: 90%;
    }

    @keyframes pump {
        0%, 100% {
            transform: scale(0.9);
        }
        50% {
            transform: scale(1.14);
        }
    }
}

@media (max-width: 768px) {
    .header, .main-content, .leaderboard, .leaderboard-entry {
        padding: 5px;
    }

    .main-content h1 {
        font-size: 32px;
    }

    .main-content p {
        font-size: 14px;
    }
    .first-card {
        margin-top: 75px;
    }

    vrati

    .leaderboard {
        margin-top: 100px;
    }

    .card {
        width: 95%;
    }

    .leaderboard-entry {
        width: 95%;
    }
}

@media (max-width: 576px) {
    .header, .main-content, .leaderboard, .leaderboard-entry {
        padding: 5px;
    }

    .main-content h1 {
        font-size: 28px;
    }

    .main-content p {
        font-size: 12px;
    }

    .leaderboard {
        margin-top: 80px;
    }

    .card {
        width: 100%;
    }

    .leaderboard-entry {
        width: 100%;
    }

    .code {
        font-size: 24px;
    }
}

@media (max-width: 1000px)
{
    .card {
        
        width: 350px;
       
    }
   
    .first-card {
        transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(0deg);
        
    }
    
    
    .second-card {
        transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(0deg);
        
       
    }
    
    
    .third-card {
        transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(0deg);
        
    }
    
    .countdown {
       
        margin-top: 50px; 
    }
}

@media (max-width: 1018px) {
    .card {
        
        width: 450px;
       
    }

    .first-card {
        transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(0deg);
        
    }
    
    
    .second-card {
        transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(0deg);
        
        display: none;
        
    }
    .fourth-card {
        display: inline-block;
        margin-bottom: -160px;
        
    }
    
    .third-card {
        transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(0deg);
       
        margin-top: 10px;
    }
    
    .countdown {
       
        margin-top: 50px; 
    }

    .cell .name {
        width: 137px; 
    }
    .diamond-icon {
        max-width: 35px;
        transform: rotate(15deg);
        vertical-align: middle;
    }
}

@media (max-width: 375px){
    
    

        @keyframes pump {
            0%, 100% {
                transform: scale(0.5);
            }
            50% {
                transform: scale(0.5);
            }
        }
    
}


/* Animation keyframes */
@keyframes fadeInSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutSlideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}



/* Additional styles */
.participate-content {
    display: none;
    margin: 20px auto;
    text-align: left;
    max-width: 300px;
    background: transparent;
    border: 2px solid white;
    padding: 20px;
    border-radius: 30px;
    z-index: 2;
    opacity: 0;
}

.participate-content a {
    text-decoration: none; 
    color: #f17c78; 
    z-index: 2;
}

.participate-content a:hover {
    color: #ec0e0e; 
    z-index: 2;
}

.participate-content span {
    font-size: 20px;
    z-index: 2;
}

.participate-content p {
    font-size: 16px;
    margin-bottom: 10px;
    z-index: 2;
}


@media (max-width: 672px) {
    .wagered {
        width: 100px;
        background: #090909;
        padding: 0px;
        padding: 5px;
        font-weight: 500;
        font-size: 13px;

    }


    
    .prize {
        width: 80px;
        padding: 0px;
        font-weight: 400;
        font-size: 17px;
        
    }

    .diamond-icon {
        max-width: 15px;
        transform: rotate(15deg);
        vertical-align: middle;
    }

    
    
    .popup-content {
        
        max-width: 350px;
        height: 500px;
       
    }
    
    .popup-content h2 {
        font-size: 22px;
        
    }

    #popup-claim {
        max-width: 150px;
        height: 500px;
        font-size: 2px;
    }


    .image-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers the images horizontally */
    }

    .image-container img#clashImage,
    .image-container img#skinraveImage,
    .image-container img#rainImage {
        width: 150px !important;
        cursor: pointer;
        transition: opacity 0.3s ease;
        margin-bottom: 10px; /* Adds space between the images */
    }

    .line {
        display: none; /* Hides the lines on mobile */
    }


    
}


@media (max-width: 528px) {
    @keyframes pump {
        0%, 100% {
            transform: scale(0.9);
        }
        50% {
            transform: scale(1);
        }
    }

   

    
 .giving-away {
    font-size: 14px !important;
 }

    .card {
        
        width: 250px;
       
    }

    .first-card {
        transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(0deg);
        
    }
    
    
    .second-card {
        transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(0deg);
        
        display: none;
        
    }
    .fourth-card {
        display: inline-block;
        margin-bottom: -140px;
        
    }

    .header {
        
        width: 100%;
        height: 80px; 
        
    }
    .logo img {
        height: 80px; 
        width: auto;
        
    }
    
    
    .third-card {
        transform: perspective(880px) rotateY(0deg) scale(1.0) rotateX(0deg);
    
        margin-top: 10px;
    }
    
    .countdown {
       
        margin-top: 50px; 
        
    }

    .last-updated {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .last-updated i{
        display: none;
        
    }

    .avatar-img {
       display: none;
    }
    .cell .name {
        width: 80px; 
    }
    .wagered {
        width: 80px;
        font-weight: 500;
        padding: 3px;
        

    }

    .wagered img {
        display: none;
    }
    
    
}
.disclaimer h1 {
    margin-left: 15px;
    font-size: 23px;
    
}

.disclaimer p {
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
}


.contact {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-col {
    padding: 16px 32px;
    background-color: #0e0e0e;
    border: 1px solid orange;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contact-col a {

    display: flex;
    align-items: center;
    color: white;
    
}
.contact-col a:hover {
    text-decoration: none;
    
}

.contact-col:hover {
    background: #131313;
    cursor: pointer;
}



.disc, .twt {
    font-size: 30px;
    margin-right: 10px;
}

.jon {
    color: rgb(168, 165, 165);
}

@media (max-width: 360px) {
    .contact-col {
     width: 200px;
      
    }

    .disc, .twt {
        font-size: 24px;
    }
}







    


/* YOUTUBE */

.youtube-section {
    background: #101010;
    padding: 40px 20px;
    text-align: center;
    margin-top: 50px;
}

.youtube-title {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.youtube-videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.youtube-video-card {
    background: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.youtube-video-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.youtube-video-card a {
    text-decoration: none; 
    color: inherit; 
}

.youtube-video-thumbnail {
    object-fit: cover; /* Ensures the image covers the entire area */
    width: 100%;
    height: 110px; /* Adjust this as needed for your layout */
    border-radius: 10px;
}

abbr {
    text-decoration: none;
    list-style: none;
    cursor: default;
}


.youtube-video-title {
    font-size: 14px;
    color: white;
    margin-top: 0;
}

.youtube-channel {
    margin-top: 20px;
}

.youtube-channel-link {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #101010;
    background: #ff0000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
    transition: 0.3s ease;
    margin-top: 25px;
    border: 2px solid transparent;
    
    
}
.youtube-channel-link:hover{
    background: #1e1e1e;
    color: red;
    border: 2px solid red;
    transition: 0.3s ease;
    font-weight: 600;
    letter-spacing: 0.7px;
    
    
}

.youtube-channel-link i {
    margin-right: 10px;
}





.footer {
    margin-top: 100px;
    background: #101010;
    color: #ccc;
    padding: 40px 20px;
    width: 100%;
    border-top: 1px solid rgb(197, 196, 196);
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    
    
}

.footer-logo img {
    width: 100px;
    margin-bottom: -32px;
}


.footer-column h3 {
    color: #fff;
    margin-bottom: 10px;
    color:#3b4248;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
    
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    color:#3b4248;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    margin-top: 10px;
    
}

.footer-social .social-icon {
    color: #ccc;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    color:#212529;
}

.footer-social .social-icon img {
    vertical-align: middle;
}

.copy-cc {
    text-align: center;
    font-size: 14px;
    color: #3b4248;
    margin-bottom: -20px;
    margin-top: 50px;
}

.gamble-aware {
    font-size: 14px;
    color:#767777;
    background-color: #111111;
    padding: 16px 32px;
    border: 1px solid rgb(155, 152, 152);
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.footer-column p {
    font-size: 14px;
    line-height: 1.5;
    color:#444b52;
}

  #discord:hover {
    color: rgb(98, 87, 253);
}
#youtube:hover {
    color: red;
}
#fa-twitter:hover {
    color: rgb(13, 181, 233);
}

#kick .kick-img {
    transition: opacity 0.3s;
}

#kick .kick-img {
    content: url('kick-footer.png');
}

#kick:hover .kick-img {
    content: url('kick-green.png');
}



.how-to-claim-prize {
    margin: 30px 40px;
}


/* timer particles */


.particles {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(255, 215, 0, 0.8);
    border-radius: 50%;
    animation: particleMove 1s ease-out forwards;
}

@keyframes particleMove {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(calc(var(--x) * 100px), calc(var(--y) * 100px));
        opacity: 0;
    }
}






















#winners-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

/* Popup Content */
.winners-popup-content {
    background: #181818;
    border-radius: 10px;
    max-width: 600px;
    height: 80vh; /* Fixed height for the popup */
    padding: 20px;
    border: 1px solid #444;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    position: relative; /* Ensure navigation is placed properly */
}

/* Title */
.winners-title {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}

/* Leaderboard Container */
.winners-leaderboard {
    margin-top: 20px;
    height: calc(80vh - 120px); /* Adjust height for leaderboard */
    overflow-y: auto; /* Enable scrolling */
}

/* Cards */
.winners-card {
    background: #131313;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Card Header */
.winners-card-header {
    display: flex;
    align-items: center;
}

/* Badge */
.winners-badge {
    background: #101010;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
}

/* Avatar Container */
.winners-avatar-container img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Leader Name */
.winners-leader-name {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
    background: #101010;
    padding: 2px 10px;
    border-radius: 5px;
}

/* Card Body */
.winners-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Wagered Amount */
.winners-leader-amount {
    font-size: 16px;
    color: #fff;
    background: #1d1d1d;
    padding: 2px 10px;
    border-radius: 5px;
}

/* Leader Points */
.winners-leader-points {
    font-size: 18px;
    font-weight: bold;
    color: rgb(117, 235, 8);
    margin-top: 5px;
    background: #1d1d1d;
    padding: 2px 10px;
    border-radius: 5px;
    text-shadow: 0 0 6px rgb(117, 235, 8);
}

    

/* Specific Styling for 1st, 2nd, and 3rd */
.winners-first-card {
    background: rgb(12, 12, 12);
    border: 1px solid yellow;
}

.winners-second-card {
    background: rgb(15, 15, 15);
    border: 1px solid white;
}

.winners-third-card {
    background: rgb(15, 15, 15);
    border: 1px solid rgb(94, 50, 1);
}

/* Fixed Navigation at the Bottom */
.navigation {
    text-align: center;
    position: absolute;
    bottom: 10px; /* Always stick to the bottom */
    left: 50%;
    transform: translateX(-50%);
}

.nav-item {
    cursor: pointer;
    padding: 5px 15px; /* Reduce padding for a more balanced size */
    text-align: center;
    margin: 0 8px; /* Keep some space between the buttons */
    font-weight: bold;
    border: 2px solid orange;
    border-radius: 5px;
    color: orange;
}

.nav-item.active {
    background-color: orange;
    color: white;
}


.image-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 150px; /* Added margin-top as you requested */
    margin-bottom: 0;
    position: relative; /* This is needed for the line positioning */
}

/* Full paths for specific images */
.image-container img#clashImage,
.image-container img#skinraveImage,
.image-container img#gambaImage,
.image-container img#rainBetImage,
.image-container img#daddySkinsImage,
.image-container img#gamdomImage {
    width: 200px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}





/* Style when image is inactive */
.image-container img.inactive {
    opacity: 0.5;
}

.line {
    width: 1px;
    height: 100px; /* Adjust the height as needed */
    background-color: white;
    position: relative;
}

